@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import './variable.scss';
@import '~bootstrap/scss/bootstrap-grid.scss';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto';
}